body {
    width: 100%;
    height: 100%;
    background: #111;
    margin: 0; padding: 0;
    overflow: hidden;
}

ul {
    margin: 0; padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden; /* http://stackoverflow.com/questions/12783064/ */
}

li {
    margin: 0;
    float: left;
}

li.thumb {
    text-align: center;
    height: 90px;
    width:  140px;
    margin: 10px 5px;
    cursor: pointer;
}

li.thumb img.active {
    background-color:#444;
}

li.thumb img {
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
}

.dragover {
    color: rgba(255,255,255,0.5)
}
